@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", sans-serif;
}

body{
    padding-top: 1px;
}
.main-header{
    background: rgb(34, 34, 34);
}
.fill-height { 
    flex-grow: 1; 
    height: 100vh; 
}
.first-row{
    padding-top: 3%;
}   
.content, .container-fluid{
    padding-top: 1%;
    background: rgb(41, 41, 41);
    overflow-y:auto;
    color: #fff;
}
.bg-content
{
    background: rgb(41, 41, 41);
}
.bg-darker
{
    background: rgb(34, 34, 34);
}
.foot{
    background: rgb(34, 34, 34);
    color: rgb(78, 78, 78);
    font-size: 18px;
}
.rac{
    margin: 1% 0;
    max-height: 600px;
    max-width: 280px;
}
.separator{
    margin: 1% 3%;

    color: #E78D14;
    background-color: #E78D14;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block !important;
}
.carousel-inner img {
    margin: auto;
  }
h1{
    padding: 1% 0;
}
.table-header{
    background-color: rgb(34, 34, 34);
}
.table-body{
    background-color: rgb(71, 71, 71);
}
.table-body tr td,.table-body tr th{
    vertical-align: middle;
    cursor: pointer;
}
.forum-button{
    background-color:rgb(78, 78, 78);
    color: white;
    margin-bottom: 10px;
}
.link-icon{
    max-width: 25px;
    max-height: 25px;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    border: 7px solid rgb(34, 34, 34);
    box-shadow: inset 0 0 2.5px 2px rgb(34, 34, 34);
}
::-webkit-scrollbar-thumb{
    background:  rgb(78, 78, 78);
    border-radius: 3px;
}
@media (min-width:600px) {
    .rac{
        max-width: 600px !important;
    }
  }
@media (max-width: 1024px) {
    body {
      padding-top: 4rem;
    }
  }
